<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/styles.css">
	<title>Roll Call System PHP</title>
</head>

<body>
	<div class="container">
		<h1 class="title">Roll Call System PHP</h1>
		{% if login %}
		<nav>
			<p>User: {{ login.name }}</p>
			<a href="/">Index</a><a style="float: right;" href="/logout">Logout</a>
		</nav>
		{% endif%}
		<hr class="border">
		<h2>
			<center>
				{% block section %}{% endblock %}
			</center>
		</h2>
		<div class="content">
			{% block body %}{% endblock %}
			{% if errors is defined %}
			<div>
				<p>Errors:</p>
				{% for error in errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
	<footer>
		<center>
			Roll Call System PHP
		</center>
	</footer>
</body>

</html>