<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/styles.css">
	<link rel="stylesheet" media="(max-width: 510px)" href="mobile.css" />
	<title>PHP School Rollcall</title>
</head>

<body>
	<header>
		<h1>PHP School Rollcall</h1>
		<nav>
			{% if login %}
			<p>User: {{ login.name }}</p>
			<a href="/">Index</a><a style="float: right;" href="/logout">Logout</a>
			{% endif%}
		</nav>
		<hr>
	</header>
	<main>
		<h2 class="section-name">
			{% block section %}{% endblock %}
		</h2>
		<div class="content" style="overflow-x:auto;">
			{% block body %}{% endblock %}
			{% if errors is defined %}
			<div class="errors">
				<p>Errors:</p>
				{% for error in errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</main>
	<footer>
		Personal project by <a href="https://www.mascam97.com/" target="_blank" rel="noopener noreferrer">mascam97</a>. <br>
		<a href="https://github.com/mascam97/php-school-rollcall" target="_blank" rel="noopener noreferrer">Source code</a>.
	</footer>
</body>

</html>