{% extends 'base.twig' %}

{% block section %}Login{% endblock %}

{% block body %}

<form class="form" action="/login" method="POST">
	<div class="form-group">
		<i class="icon left fa fa-user"></i><input class="user" type="number" name="id" placeholder="Id" required {% if not allowToLogin %} disabled {% endif%}>
	</div>
	<div class="form-group">
		<i class="icon left fa fa-lock"></i><input class="password_btn" type="password" name="password" placeholder="Password" value="school" required {% if not allowToLogin %} disabled {% endif%}>
		<button type="submit" class="submit-btn fa fa-arrow-right" {% if not allowToLogin %} disabled {% endif%}></button>
	</div>
</form>


<center>
	"school" is the password by default.<br>
	Id 1 belongs to the Administrator.<br>
	Id 11 to 16 belong to the teachers.<br>
	Id 101 to 220 belong to the students.<br>
</center>

{% endblock %}